/* Custom BS Spacing **/
$spacer: 30px;

/** Fonts **/
$ss-header-font     : 'League Gothic', sans-serif;
$serif-header-font  : 'Roboto Slab', serif;
$body-font          : 'Roboto', serif;


/** Colors **/
$white          : #fff;
$black          : #000;
$off-black      : #231f20;
$gray           : #393939;

$cream          : #F6ECD8;
$dark-cream     : #ddd3be;

$tan            : #F2DAB2;
$green          : #8d9f80;
$dark-green     : #65745a;
$light-green    : #bdc5ab;
$red            : #B73D25;
$dark-red       : #802711;