@font-face {
	font-family: "fa-light-300";
	src: url("fa-light-300.eot?b8fd781c04ff4c9cea64abaa28b3f69f?#iefix") format("embedded-opentype"),
url("fa-light-300.woff2?b8fd781c04ff4c9cea64abaa28b3f69f") format("woff2"),
url("fa-light-300.woff?b8fd781c04ff4c9cea64abaa28b3f69f") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: fa-light-300 !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-chevron-right:before {
	content: "\f101";
}
.icon-chevron-left:before {
	content: "\f102";
}
