.buttons {
    margin: 0 -10px 10px;

    .button {
        position: relative;
        display: inline-block;
        margin: 0 10px 20px;
        border: 2px solid $white;
        padding: 10px 15px;
        font-family: $serif-header-font;
        color: $white;
        background-color: $red;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1;

        &:hover {
            background-color: $dark-red;
        }
    }
}

/*

Usage:

<div class="buttons>
    <a href="#" class="button">
    <a href="#" class="button">
</div>

*/
