.all-inputs {
    margin-bottom: 20px;
}

.text-inputs {
    // Styles for text, email, number, and textarea.
}

form {
    label,
    legend {
        cursor: pointer;
    }

    input {
        @extend .all-inputs;

        &[type="text"],
        &[type="email"],
        &[type="number"] {
            @extend .text-inputs;
        }

        &[type="radio"],
        &[type="checkbox"] {
            display: none;

            &:checked {
                + label {
                    &::after {
                        opacity: 1;
                    }
                }
            }

            + label {
                @extend .no-select;
                position: relative;

                &::before,
                &::after {
                    @extend .transition;
                    display: block;
                    position: absolute;
                    content: "";
                    border: 2px solid red;
                    background-color: white;
                }

                &::after {
                    opacity: 0;
                }
            }
        }

        &[type="radio"] {
            +label {
                &::before,
                &::after {
                    border-radius: 50%;
                }

                &::before {
                }

                &::after {
                }
            }
        }

        &[type="checkbox"] {
            +label {
                &::before {
                }

                &::after {
                }
            }
        }
    }

    // For radio and checkbox groups.
    fieldset {
        @extend .all-inputs;

        legend {
            + div {
                > div {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-left: -10px;
                    margin-right: -10px;

                    > * {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    textarea {
        @extend .all-inputs, .text-inputs;
    }


    // Styles for styled select
    .select {
        @extend .all-inputs;
        position: relative;
        z-index: 1;

        .select-hidden {
            width: 0;
            height: 0;
            border: none;
            position: absolute;
        }

        .select-styled {
            @extend .transition, .text-inputs;
            position: relative;
            cursor: pointer;

            &::before {
                @extend .transition;
                display: block;
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 8px solid red;
                right: 12px;
                top: 14px;
            }

            &.active {
                &::before {
                    transform: rotate(-180deg);
                }
            }
        }

        .select-options {
            display: none;
            position: absolute;
            list-style-type: none;
            cursor: pointer;

            li {
                @extend .no-select, .transition;

                &:hover {
                }

                &.hide{
                    display: none;
                }
            }
        }
    }
}