#error {
    .error-banner {
        border-top: 8px solid $black;
        border-bottom: 8px solid $black;
        position: relative;

        .error-man {
            position: absolute;
            width: 204px;
            height: 250px;
            top: 8px;
            right: 57%;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }

        h1 {
            font-size: 120px;
            line-height: 1;
        }

        h2 {
            text-transform: uppercase;
            line-height: 1;
            font-size: 32px;
        }
    }
}

@include media-breakpoint-down(lg) {
    #error {
        .error-banner {
            .error-man {
                width: 178px;
                height: 219px;
            }

            h1 {
                font-size: 100px;
            }

            h2 {
                font-size: 30px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #error {
        .error-banner {
            .error-man {
                width: 127px;
                height: 156px;
                right: 60%;
                top: 15px;
            }

            h1 {
                font-size: 70px;
            }

            h2 {
                font-size: 24px;
            }
        }
    }
}