#home {
    >section {
        border-bottom: 8px solid $black;
    }

    #order-now {
        border-left: 0;
        border-right: 0;
        background-color: $green;

        .service-man {
            position: absolute;
            right: 15px;
            top: -60px;
            width: calc(100% - 30px)
        }

        .header,
        .subheader {
            font-family: $serif-header-font;
            color: $white;
            line-height: 1.2;
            margin-bottom: 5px;
        }

        .header {
            font-size: 48px;
            text-transform: uppercase;
        }

        .subheader {
            font-size: 32px;
        }

        p {
            margin-bottom: 15px;
        }
    }

    #featured-brands {
        .slider-hand-arrows {
            padding: 5px;

            .slick-slide {
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;
            }
        }
    }

    #bargain {
        .slider-hand-arrows {
            aspect-ratio: 16 / 9;
        }
    }

    #about {
        padding-bottom: 140px;
        background-image: url(../img/hammer-man.png);
        background-repeat: no-repeat;
        background-size: 460px;
        background-position: 20% center;

        >.icons {
            position: absolute;
            width: 100%;
            bottom: -67px;

            .icon {
                aspect-ratio: 1 / 1;
                width: 150px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 10px;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    #home {
        #order-now {
            .header {
                font-size: 38px;
            }

            .subheader {
                font-size: 26px;
            }
        }

        #about {
            padding-bottom: 100px;

            >.icons {
                bottom: -59px;

                .icon {
                    width: 130px;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #home {
        #order-now {
            .service-man {
                position: relative;
                width: auto;
                top: auto;
                right: auto;
            }
        }

        #featured-brands {
            .slider-hand-arrows {
                padding: 0;
                margin: 0 -15px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    #home {
        #order-now {
            .header {
                font-size: 32px;
            }

            .subheader {
                font-size: 20px;
                line-height: 1.4;
            }
        }

        #about {
            padding-bottom: 70px;

            >.icons {
                bottom: -44px;

                .icon {
                    width: 90px;
                }
            }
        }
    }
}