#home {
    >section {
        border-bottom: 8px solid $black;
    }

    #order-now {
        border-left: 0;
        border-right: 0;
        background-color: $green;

        .service-man {
            position: absolute;
            right: 15px;
            top: -60px;
            width: calc(100% - 30px)
        }

        .header,
        .subheader {
            font-family: $serif-header-font;
            color: $white;
            line-height: 1.2;
            margin-bottom: 5px;
        }

        .header {
            font-size: 48px;
            text-transform: uppercase;
        }

        .subheader {
            font-size: 32px;
        }

        p {
            margin-bottom: 15px;
        }
    }

    #featured-brands {
        .slider-hand-arrows {
            padding: 5px;

            .slick-slide {
                aspect-ratio: 1 / 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px;

                // Fallback
                @supports not (aspect-ratio: 1 / 1) {
                    &::before {
                        float: left;
                        padding-top: 100%;
                        content: "";
                    }

                    &::after {
                        display: block;
                        content: "";
                        clear: both;
                    }
                }

                .has-stock {
                    @extend .h-100;

                    &:hover {
                        .logo {
                            opacity: 0;
                        }

                        .stock {
                            opacity: 1;
                        }
                    }

                    .logo,
                    .stock {
                        @extend .transition;
                    }

                    .stock {
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        inset: 0;
                        opacity: 0;
                    }
                }
            }
        }
    }

    #bargain {
        .slider-hand-arrows {
            aspect-ratio: 16 / 9;

            // Fallback
            @supports not (aspect-ratio: 16 / 9) {
                &::before {
                    float: left;
                    padding-top: 56.25%;
                    content: "";
                }

                &::after {
                    display: block;
                    content: "";
                    clear: both;
                }
            }
        }
    }

    #about {
        padding-bottom: 140px;
        background-image: url(../img/hammer-man.png);
        background-repeat: no-repeat;
        background-size: 460px;
        background-position: 20% center;
        border-bottom: 0;

        p {
            color: $white;
        }
    }
}

@include media-breakpoint-down(lg) {
    #home {
        #order-now {
            .header {
                font-size: 38px;
            }

            .subheader {
                font-size: 26px;
            }
        }

        #about {
            padding-bottom: 100px;
        }
    }
}

@include media-breakpoint-down(md) {
    #home {
        #order-now {
            .service-man {
                position: relative;
                width: auto;
                top: auto;
                right: auto;
            }
        }

        #featured-brands {
            .slider-hand-arrows {
                padding: 0;
                margin: 0 -15px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    #home {
        #order-now {
            .header {
                font-size: 32px;
            }

            .subheader {
                font-size: 20px;
                line-height: 1.4;
            }
        }

        #featured-brands {
            .slider-hand-arrows {
                &.brand {
                    .slick-slide {
                        .has-stock {
                            &:hover {
                                .logo {
                                    opacity: 1;
                                }

                                .stock {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        #about {
            padding-bottom: 70px;
        }
    }
}