#testimonial {
    position: relative;
    border-top: 8px solid $black;

    >.icons {
        position: absolute;
        width: 100%;
        top: -91px;

        .icon {
            aspect-ratio: 1 / 1;
            width: 150px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 10px;

            // Fallback
            @supports not (aspect-ratio: 1 / 1) {
                &::before {
                    float: left;
                    padding-top: 100%;
                    content: "";
                }

                &::after {
                    display: block;
                    content: "";
                    clear: both;
                }
            }
        }
    }

    span {
        opacity: 0;
    }

    .slider-wrapper {
        .slider-hand-arrows {
            .slick-list {
                .slick-track {
                    display: flex;

                    .slick-slide {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: auto;
                        aspect-ratio: auto;

                        &::before {
                            display: none;
                        }

                        .drop-shadow {
                            margin: 30px;
                        }
                    }
                }
            }

            + .hand-arrows {
                .arrow {
                    &.prev {
                        left: -50px;
                    }

                    &.next {
                        right: -50px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    #testimonial {
        >.icons {
            top: -79px;

            .icon {
                width: 130px;
            }
        }

        .slider-wrapper {
            .slider-hand-arrows {
                + .hand-arrows {
                    .arrow {
                        &.prev {
                            left: -30px;
                        }

                        &.next {
                            right: -30px;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    #testimonial {
        padding-bottom: 70px;

        >.icons {
            top: -54px;

            .icon {
                width: 90px;
            }
        }
    }
}